body {
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

section.board {
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid lightblue;
    overflow: hidden;

}

div.paddle1 {
    position: absolute;
    left: 10px;
    top: calc(50% - 50px);
    height: 100px;
    width: 20px;
    background-color: darkred;

}

div.paddle2 {
    position: absolute;
    right: 10px;
    top: calc(50% - 50px);
    height: 100px;
    width: 20px;
    background-color: darkred;

}

div.center {
    position: absolute;
    background-color: lightblue;
    width: 10px;
    top: 0;
    bottom: 0;
    left: calc(50% - 5px);
}

div.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid lightblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

img.jarek {
    position: absolute;
    height: 80px;
    top: 50%;
    left: 50%;
    animation: rotate .5s linear infinite;

}

img.jarek:hover {
    height: 200px;
}

/* img.michas {
    z-index:
} */

/* animation: rotate 2s linear infinite
 */
div.score1 {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    font-size: 30px;
    font-family: arial;
    text-align: center;
    line-height: 100px;
}

div.score2 {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    font-size: 30px;
    font-family: arial;
    text-align: center;
    line-height: 100px;
}

div.gol {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    transform: translate(-50%, -50%);
    font-size: 200px;
    text-transform: uppercase;
    transform: scale(0);
    transition: 100s;
}

div.gol.active {
    animation: gol 1s linear;


}

/* @keyframes ball {
    0% {
        top: 60%;
        left: 50%;
    }

    20% {

        left: calc(100% - 90px);
        transform: rotate(45deg);
    }

    40% {
        left: 50%;
        top: calc(100% - 68px);
        transform: rotate(90deg);
    }

    60% {
        left: 30px;
        top: 45%;
        transform: rotate(180deg);
    }

    80% {
        top: 10px;
        left: 50%;
    }
    100% {left: 110%;
    top: 30%;}
} */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gol {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

button.restart {
    position: fixed;
    top: 70%;
    left: 50%;
    width: 200px;
    height: 80px;
    transform: translateX(-50%);
    font-size: 32px;
    color: indigo;
    background-color: chartreuse;
    border: 5px solid gray;
    transition: .3s;
    cursor: pointer;
}

button.restart:hover {
    color: white;
    background-color: black;
}

h1.result {
    font-size: 150px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

section.choice {
    display: flex;
    position: absolute;
    background-color: lightblue;
    top: 85%;
    width: 100%;
}

.choice div {
    flex-grow: 1;
    text-align: center;
    border: 4px solid blue;
}

img.jarekChoice {

    height: 80px;

    cursor: pointer;
    transition: .4s;
    /* margin-right: 300px; */
}

img.jarekChoice:hover {

    transform: rotate(360deg);
}

img.michasChoice {

    height: 90px;
    cursor: pointer;
    transition: .4s;
    /* margin-left: 300px; */
}

img.michasChoice:hover {

    transform: rotate(360deg);
}

img.babcia {
    height: 80px;
    transition: .4s;
    cursor: pointer
}

img.babcia:hover {
    transform: rotate(360deg);
}

.background {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vw;
    z-index: -100;
    opacity: 0.5
}

img.pilkarz {
    height: 100vh;
    width: 50vw;
}

section.levelChoice {
    position: absolute;
    left: 5%;
    top: 45%;
    text-align: center;
}

section.levelChoice div {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    border: 3px solid red;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
}
section.levelChoice div:hover {
    background-color: aqua;
}

section.levelChoice h2 {
    font-size: 32px;
    text-transform: uppercase;
}

section.levelChoice h3 {
    
    margin-top: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}